body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Richtung der Hauptachse auf vertikal ändern */
    justify-content: space-between; /* Gleichmäßiger Abstand oben und unten */
    height: 100vh;
    margin: 0;
}

h1 {
    color: #334333;
    margin-top: 20px; /* Etwas Abstand am oberen Rand */
    text-align: center; /* Zentriert den Titel */
}

.center-icon {
    display: block;
    margin: 20px auto; /* Zentriert das Bild und fügt vertikalen Abstand hinzu */
    max-width: 250px; /* Oder eine andere Größe, die zu Ihrem Design passt */
    height: auto; /* Behält das Seitenverhältnis des Bildes bei */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; /* Etwas Abstand am unteren Rand */
}

.button {
    display: block;
    width: 150px; /* oder eine andere gewünschte Breite */
    padding: 10px;
    text-align: center;
    background-color: rgba(178, 239, 103, 0.71);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: rgba(178, 239, 103, 0.71);
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em; /* Beibehalten der Schriftgröße */
        margin-top: 10px; /* Verringert den oberen Abstand */
        margin-bottom: 10px; /* Verringert den unteren Abstand */
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 0; /* Verringert den Abstand zum oberen Element */
    }

    .button {
        width: 80%; /* Macht die Buttons breiter */
        padding: 15px 20px; /* Größere Polsterung für größere Buttons */
        font-size: 20px; /* Größere Schriftgröße für die Buttons */
    }
}
