body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Richtung der Hauptachse auf vertikal ändern */
    justify-content: space-between; /* Gleichmäßiger Abstand oben und unten */
    height: 100vh;
    margin: 0;
}

h1 {
    color: #334333;
    margin-top: 20px; /* Etwas Abstand am oberen Rand */
    text-align: center; /* Zentriert den Titel */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; /* Etwas Abstand am unteren Rand */
}

.button {
    display: block;
    width: 150px; /* oder eine andere gewünschte Breite */
    padding: 10px;
    text-align: center;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #000000;
}

/* Medienabfrage für kleine Geräte (wie iPhone) */
@media screen and (max-width: 480px) {
    body {
        flex-direction: column;
        justify-content: flex-start; /* Ändert die Ausrichtung für kleinere Bildschirme */
        padding: 10px; /* Fügt etwas Innenabstand hinzu */
    }

    h1 {
        font-size: 1.5em; /* Verkleinert die Schriftgröße für den Titel */
    }

    .button-container {
        flex-direction: column; /* Stapelt die Buttons vertikal */
        align-items: center; /* Zentriert die Buttons horizontal */
        gap: 10px; /* Verringert den Abstand zwischen den Buttons */
    }

    .button {
        width: auto; /* Passt die Breite der Buttons an */
        padding: 8px 20px; /* Anpassung der Polsterung für kleinere Bildschirme */
    }
}
